<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>index page</title>
<style>
	body{
		background-image: url("/static/index.webp");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.hf.hs{
		text-align: center;
		justify-items: center;
	}
</style>
</head>
<body>
{% include 'navbar.html' %}
<section class="container">
	<h1 class="hf">Welcome to Our </h1>
	<h2 class="hs">Student Management Portal</h2>
</section>

</body>
</html>